body p{
    font-size: 1.25rem;
    font-weight: 500;
}
.header{
    background-color: #242424;
    height: 100px;
    font-size: 1.625rem;
    position: fixed;
    top: 0;
}
.header{
    font-family: 'Advent Pro', sans-serif;
    color: white;
    z-index: 1;
}
.header a{
    font-family: 'Advent Pro', sans-serif;
    color: white;
    position:relative;
}
.header a:before{
    position:absolute;
    bottom: -10px;
    content: " ";
    border-bottom: 2px solid #E21E42;
    transform: scale(0,1);
    width:100%;
    transition: transform 0.3s
 }
 
.header a:hover:before{
    transform: scale(1,1);
}
.header a:hover{
    color: white;
    text-decoration: none;
}
.header h1{
    font-weight: 500;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(top, #E21E42 0%, rgba(226, 30, 66, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: 0;
}
.header ul{
    padding: 0;
    margin: 0;
}

.header ul li{
    display: inline;
    text-align: center;
}

.main_block{
    font-family: 'Advent Pro', sans-serif;
    color: white;
    margin-top: 10%;
    
}

.main{
    height: 590px;
    background: linear-gradient(360deg, #000000 -52.61%, rgba(255, 255, 255, 0) 100%),url('../img/bg.jpg');
    background-size: cover;
}
.main h1{
    font-weight: 500;
    font-size: 2.375rem;
}
.categories_block{
    font-family: 'Advent Pro', sans-serif;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
.categories_block h1{
    font-size: 2.1875rem;
    font-weight: 500;
}
.categories_block p{
    font-size: 1.875remrem;
    font-weight: 400;
}

.category_1{
    background: linear-gradient(248.82deg, #6F41D2 0%, #FF375C 100%);
    border-radius: 28px;
}
.category_2{
    background: linear-gradient(248.82deg, #FF5E5E 0%, #FFC700 100%);
    border-radius: 28px;    
}
.category_3{
    background: linear-gradient(68.97deg, #EBFF00 0%, #4FCF00 100%);
    border-radius: 28px;
}
.category_1:hover, .category_2:hover, .category_3:hover {
    background: linear-gradient(180deg, #992037 0%, #000000 100%);
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Advent Pro', sans-serif;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
.goodies .col-2{
    font-family: 'Advent Pro', sans-serif;
    border-radius: 22px;
    transition: 1s;
}
.goodies .col-2 h1{
    margin-top: 3%;
    font-size: 1.875rem;
    font-weight: 500;
}
.goodies .col-2 p{
    font-size: 1.25rem;
    font-weight: 500;
}
.goodies .col-2 span{
    font-size: 1.75rem;
    font-weight: 500;
}
.goodies .col-2 button{
    border-radius: 28px;
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #FF6657;
    width: 100%;
}
.goodies .col-2 button:hover{
    border: 2px solid white;
    background: linear-gradient(267.98deg, #FF6657 0%, #FFBF08 100%);
    color: white;
}

.goodies img{
    width: 100%;
    border-radius: 22px;
}
.goodies .col-2:hover{
    transition: 1s;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.25);
}
.footer{
    background: #242424;
}
.footer h1{
    font-family: Advent Pro;
    font-size: 1.875rem;
    font-weight: 500;
    color: #FFFFFF;
}
.footer p{
    font-family: Advent Pro;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
    
}
.email{
    color:#AC203A;
;
}
@keyframes showHeader{
    from {top: -150px;}
    to {top: 0px;}
}
@keyframes hideHeader{
    from {top: 0px;}
    to {top: -150px;}
}